Historic Detailed Section

Copy of text removed from draft prior to IETF 125 - to be re-introduced at a future date.

-----------------------End of "High Level Map"------------------------------

-----------------------Early Thoughts on Detailed Spec Below------------------------------

# Agent Authorization - Next Level Detail

During Agent execution, authorization must be enforced at all the components involved in the process to provide an in-depth protection of the resources that might be interacted with. For each component, we must consider the following 3 phases:
- Negotiation between the component and its caller on the required pieces of authorization required to interact with the component
- Acquisition of the piece of authorization by the caller at the authorization server authoritative for the component it wants to communication
- Validation of the piece of authorization in the context of the request by the component

Those phases rely on the following standards for enforcement of the access control:
- {{OAUTH-FRAMEWORK}} is an established and maintained framework of specifications for requesting, acquiring, and proving ownership of pieces of authorization in the form of bearer tokens.
- {{OpenIDConnect.AuthZEN}} is a new specification for exchanging authorization requests and decisions between the layer acting at the Policy Enforcement Point (PEP) and a Policy Decision Point (PDP).
- {{OAUTH-TRANS-TOKENS}} is new specification for formatting pieces of authorization in the form of transaction bound bearer tokens.

~~~ ascii-art
                       +----------------+
                       | Large Language |
                       |   Model (LLM)  |
                       +----------------+
                              ▲   |
                              │   |               ┌(H)┐
                              |   ▼               ▼   │
+--------------+         +------------+         +-------------+         +-----------+
|  User /      |─(A)(C)─►|  AI Agent  |─(E)(H)─►| Agent /     |─(J)(M)─►| Services  |
|      /       |         | (workload) |         |      /      |         |   and     |
|     / System |◄────────|            |◄────────|     / Tools |◄────────| Resources |
+--------------+         +------------+         +-------------+         +-----------+
     ▲                       ▲  ▲                   ▲   ▲                    ▲
     |    ┌──(F)─────────────┘  |                   |   |                    |
     |    |   ┌───(D)───────────┘                  (I)  |                    |
     |    |   |  +---------------+                  |  (K)                  (N)
    (B)   |   |  |    Policy     |                  |   |                    |
     |    |   └─►|   Decision    |◄─────────────────┘   |                    |
     |    |      |    Point      |◄─────────────────────┼────────────────────┘
     |    |      +---------------+                      |
     |    |             ▲                               |
     |    |          (G)(L)                             |
     |    |             ▼                               |
     |    |      +---------------+                      |
     |    └─────►| Authorization |◄─────────────────────┘
     └──────────►|   server      |
                 +---------------+
~~~


> Key point - OAuth is broadly supported and provides a delegation model for users to clients (aka Agents). Agents can obtain access tokens directly (client credentials flow, using above authentication methods) or it can be delegated to them by a user (OAuth flows). Make point that the access token includes the client_id, which is the same as the Agent ID (ore related to it) and can be used for authorization decisions, along with other claims in an Access Token (reference JWT Access token spec). Make provision for opaque tokens as well. Discuss Downscoping of Agent authorization using transaction tokens. Discuss cross-domain authorization (use cases) and how it may be achieved (identity chaining and cross-domain authorization). Discuss human in the loop authorization. Note concerns, refer to cross-device BCP as examples of consent phishing attacks. Talk about CIBA as a protocol.

## System to AI Agent
### (A) Negotiation - OPTIONAL

#### Flow

Following {{OAUTH-RESOURCE-METADATA}}, the System MUST act as an OAuth2 client. It MUST interact with the AI Agent on its metadata endpoint which MUST be an OAuth 2.0 protected resource as defined by {{OAUTH-RESOURCE-METADATA}}.

The System will then understand which Authorization Server MUST be the authority this AI Agent; which scopes or authorization details values MAY be required to access this AI Agent; and if extension mechanisms MAY be required to fulfil.

#### Security

The System MUST follow the best current practices described in {{OAUTH-BCP}}.

### (B) Initial Authorization

Based on the information collected as part of (A) or based on its configuration, the System MUST initiate an authorization request to the Authorization Server acting as authority for the AI Agent.

#### Flow

For this, the System MUST use one of the grant types described in {{OAUTH-FRAMEWORK}} as follows:

- In a case of the System is acting on its behalf, it MUST start a client credential grant flow as described in {{Section 1.3.4 of OAUTH-FRAMEWORK}};
- In the case of the System is acting on behalf of a user:
  - If the System can interact directly with the user (e.g., browser-based), the System MUST use the authorization code grant flow as described in {{Section 4.1 of OAUTH-FRAMEWORK}};
  - If the System has limited input capabilities, but the User is present at the device, the System MUST use the Device Authorization Grant {{RFC8628}};
  - If the User is not present at the consuming device (decoupled flow), the System MUST use Client-Initiated Backchannel Authentication {{OpenIDConnect.CIBA}}.

#### Extensions

As part of the grant flow, the User / System MUST also fulfill all the expected extensions it has an understanding of. For example, not exhaustively:
- Binding the requested tokens to a possessed key as defined in {{RFC9449}} or {#wpt}
- Requesting additional authorization details as defined in {{RFC9396}} or {{RFC9126}}

#### Identification

The System MUST act as an OAuth2 Client which MAY be assigned a WIMSE identifier, which MAY be a SPIFFE ID.

If so, the System MUST provide a way to resolve one value to the other, either through:
- A metadata document URL used OAuth2 Client identifier as defined in {{OAUTH-CLIENT-METADATA}};
- Metadata information provided as part of the Private Key JWT OAuth client credential as defined in {{OAUTH-CLIENTAUTH-JWT}}
- Public Certificate information provided as part of the mutual TLS OAuth client credential as defined in {{OAuth.mTLS.Auth-RFC8705}}

#### Authentication

The System MUST authentication using either:
- Private Key JWT OAuth client authentication as defined in {{OAUTH-CLIENTAUTH-JWT}}
- Mutual TLS OAuth client authentication as defined in {{OAuth.mTLS.Auth-RFC8705}}

#### Security

The System MUST follow the best current practices described in {{OAUTH-BCP}} for the interactions with the AI Agent and {{RFC8725}} when handling JWTs.

### (C) Access to the AI Agent

#### Flow

To access an AI Agent, the System MUST present its authorization credential as defined in {{Section 7 of OAUTH-FRAMEWORK}} as well as defined in {{RFC6750}}. The client MUST be able to process error codes as defined in section 3 of {{RFC6750}}.

The AI Agent MAY request additional details to be provided through a new authorization credentials using {{OAuth.step-up.Auth-RFC9470}} or error codes as defined in {{RFC6750}}.

#### Security

The client MUST follow the best current practices described in {{OAUTH-BCP}}.

### (D) Controlling access to the AI Agent

#### Flow

The AI Agent MUST validate the presented token as described in {{OAUTH-FRAMEWORK}} as well as defined in {{RFC6750}}.

If token introspection is required, the AI Agent MUST follow {{OAUTH-TOKEN-INTROSPECTION}} as well as {{RFC9701}}.

If the provided token is a JWT profiled token as defined in {{OAUTH-ACCESSTOKEN-JWT}}, the AI Agent MUST follow the section 2 of this specification as part of the token validation.

If the AI Agent delegates its access control logic to a Policy decision point, it MUST follow {{OpenIDConnect.AuthZEN}} specification for requesting and receiving a decision for the access.

#### Security

TODO

## AI Agent To Other Agent / Tools

Interactions between an AI Agent and Tools are globally specified by {{MCP}}. Those sections only focus on the Identification, authentication, and authorization aspects of the specification.

Interactions between an AI Agent and other AI Agents are globally specified by {{A2A}}. Note that derived specifications and domain specific specification have emerged like {{AP2}} for Agent payment interaction, {{ACP}} for Agent to commerce flows. Those sections only focus on the Identification, authentication, and authorization aspects of those specifications.

### (E) Negotiation

#### Case of a Tool
Following {{MCP}}, the AI Agent MUST interact with Tools on the metadata endpoint of an OAuth 2.0 protected resource to understand which Authorization Server is the authority this resource; which scopes or authorization details values MAY be required to access this resources; and if proof of possession needs to be presented as standardized with {{RFC9449}}.

#### Case of an Agent

Following {{A2A}}, the AI Agent MUST interact with the other Agent through their Agent Card. If Extended Agent Card is implemented, the calling AI Agent MUST collect the information to understand which Authorization Server is the authority this resource; which scopes or authorization details values MAY be required to access this resources; and if proof of possession needs to be presented as standardized with {{RFC9449}}.

{{ACP}} and {{AP2}} Agents are expected to follow the same Agent Card feature as {{A2A}} Agents.

### (F) AI Agent Authorization

Based on the information collected as part of (E), the AI Agent is initiating an authorization request with the Authorization Server acting as authority for the AI Tools.

Such authorization request can allow to down, change or translate scope; enrich the authorization with new details based on the context; extend the time boundaries of the authorization; or change from a delegation mode to an impersonation mode and reversely.

- If the AI Agent acts on its behalf as a system:
  - If it does not want or need to refer to the previous context, it MUST start a client credential grant flow as described in {{Section 1.3.4 of OAUTH-FRAMEWORK}};
  - If it does want or need to refer to the previous context, it MUST start a token exchange flow as described in {{OAUTH-TOKEN-EXCHANGE}}. The AI Agent will be able to decide in between obtaining tokens representing a Delegation or an Impersonation as described in section 1.1 of the specification.
- If the AI Agent acts on delegation by a user:
  - If the AI Agent can interact and want to interact with the user through the client, it MUST start an authorization code grant flow as described in {{Section 1.3.1 of OAUTH-FRAMEWORK}};
  - If the AI Agent cannot or does not want to interact with the user through the client, it MAY:
    - Start a token exchange flow as described in {{OAUTH-TOKEN-EXCHANGE}}. The AI Agent will be able to decide in between obtaining tokens representing a Delegation or an Impersonation as described in section 1.1 of the specification.
    - Start a client initated backchannel authorized request as described in {{OpenIDConnect.CIBA}}

If the AI Agent knows that the underlying actions

> Transaction Tokens

### Security

If the metadata documents are cryptographically signed, the AI Agent MUST validate the signature before using the information for any authentication and authorization decision.

## Agent-to-Resource Authorization
Present token, peform additional authorization (RBAC etc?)
Direct or via tools
Resources, services.

Agent -> Tool -> Service -> Resource

### Human-in-the loop
Agent framework problem -> human in the loop - confirm something that it can already do - Agent framework capability - confirmation. Risk management flow.
Human in the loop - request esalated privelages. Step-up authorization - refernece the draft (maybe)

MCP Elicitation to Agent to perform some browser things - start authz code grant flow.
CIBA

## Case of Multi-Domain Authorization

### Cross Domain Agent-to-Agent Authorization
Identiyt chaining, ID-Jag.

## Agent to Agent Authorization